body {

	background-image: url("images/img_home.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}


div {
    
    background-color: #0f55f4;
    border-radius: 20px;
    height: 350px;
    margin-top: 300px;
    
}

h1 {
    padding-top: 50px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 90px;
    color: white;  
}

 img {
    padding-bottom: 10px;
}


